.square-box {
  width: 31px;
  height: 31px;
  background-color: #202020;
  border: 2px solid #181818;
  margin: 1px;

  &-selected {
    background-color: #35cac5;
    border: 2px solid #181818;
  }

  &:hover {
    box-shadow: 0 0 5px #aaa;
  }
}